/* reset css */
*{
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}
/* titolo */
.intestazione{
    margin: auto;
    padding-bottom: 50px;
    width: 70%;
    text-align: center;    
}

.title{
    color: #E53170;
    font-size: 3em;}
    /* fine titolo */

    /* inizio info */

.container{
    width:70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.box {
    margin: 20px 10px;
    height: 100px;
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    float: left;
    box-shadow:  10px  10px 5px #dedede,
    -10px -10px 5px #dedede,
     10px -10px 5px #dedede,
    -10px  10px 5px #dedede;
}
      
.img {
    height: 100px;
    width: 100px;
    float: left;
}
      
.img img {
    width: 100%;
}
      
.info {
    height: 100%;
    width: calc(100% - 100px);
    padding: 10px;
    float: left;
}
      
h3,h5 {
     color: white;
}
      
h6 {
    font-size: 12px;
    font-weight: normal;
}
      
.info * {
    margin: 5px;
    }
    
a{
    color: aqua;
}
